# Generador de tabla de ingresados

Favor de correr todo el codigo y seguir las instrucciones se√±aladas

In [1]:
# IMPORTAMOS LIBRERIAS

import pandas as pd
import numpy as np
import pickle

In [2]:
# MANDAR A LLAMAR MODELO

with open('model.pkl' , 'rb') as f:
    DT = pickle.load(f)

C:\Users\enriq\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:329: UserWarning: Trying to unpickle estimator DecisionTreeClassifier from version 0.24.2 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(

Escribe la direccion y el nombre de tu archivo .csv entre las comillas

In [10]:
file = "ejemplo_Ternium.csv"
x = pd.read_csv(file)
x

,Unnamed: 0,ID Candidato,Operaciones-Calidad,MTTO-DIMA,Comercial-Planeamiento,DIGI-SC,Resto-Soft,Ingles
0,NaN,A01740425,2,2,1,1,2,5
1,NaN,A01740352,2,0,1,2,0,3
2,NaN,A01740812,1,2,1,2,1,3
3,NaN,A01740287,2,2,1,2,1,3
4,NaN,A01740263,2,1,2,0,1,5
5,NaN,A01740807,1,2,2,0,1,5
6,NaN,A01740298,1,2,2,2,0,5
7,NaN,A01740372,0,1,0,2,0,4
8,NaN,A01740292,0,0,1,1,0,4
9,NaN,A01740308,0,1,0,1,0,4
10,NaN,A01740294,0,2,0,2,1,4
11,NaN,A01740222,0,1,0,2,2,5
12,NaN,A01740223,2,2,1,0,2,6
13,NaN,A01740333,2,0,1,2,2,6
14,NaN,A01740335,2,0,1,1,2,6
15,NaN,A01749555,1,1,0,2,1,6
16,NaN,A01740888,1,2,1,2,1,4
17,NaN,A01740098,0,0,0,1,1,4
18,NaN,A01740987,2,0,1,2,0,4
19,NaN,A01740879,1,0,0,0,0,5
20,NaN,A01740281,0,0,2,2,0,4
21,NaN,A01740111,2,0,2,1,0,6
22,NaN,A01740112,0,2,2,1,1,4
23,NaN,A01740113,2,1,1,0,1,5
24,NaN,A01740115,1,2,1,0,1,4
25,NaN,A01740001,0,1,0,1,2,4
26,NaN,A01740002,0,1,2,0,2,3
27,NaN,A01740003,0,2,2,2,1,3
28,NaN,A01740004,2,0,0,0,0,7

In [6]:
# MANEJAMOS CSV

x = pd.read_csv(file)

ID = x["ID Candidato"]
ID = np.array(ID)

del(x["Unnamed: 0"])
del(x["ID Candidato"])

In [7]:
# EMPLEAR MODELO

result = DT.predict(x)

result_df = pd.DataFrame({'ID':ID, 'Ingresado':result})

result_df = result_df.replace({'Ingresado': 1}, "Si")
result_df = result_df.replace({'Ingresado': 0}, "No")

result_si = result_df[result_df["Ingresado"] == "Si"]
result_no = result_df[result_df["Ingresado"] == "No"]

C:\Users\enriq\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(

In [8]:
# Exportar resultados
result_df.to_csv("Resultado_Ingresados.csv")
result_si.to_csv("Resultado_Si_Ingresados.csv")
result_no.to_csv("Resultado_No_Ingresados.csv")